<div>
    {{ graph_diff|safe }}
</div>

<div>
    <p> - Median for original consumption</p>
    {% for mykey,myvalue in median_season_consumption.items %}
        {{ mykey }} : {{ myvalue }} </br>
    {% endfor %}

    <p> - Median for original consumption interpolate</p>
    {% for mykey,myvalue in median_season_consumptioninterpolate.items %}
        {{ mykey }} : {{ myvalue }} </br>
    {% endfor %}

    <p> - Mean for original consumption (weekdays)</p>
    {{weekdays_mean_consumption}}

    <p> - Mean for original consumption (weekdays)</p>
    {{weekdays_mean_consumptioninterpolate}}

    <p> - Mean for original consumption (weekend)</p>
    {{weekend_mean_consumption}}

    <p> - Mean for original consumption (weekend)</p>
    {{weekend_mean_consumptioninterpolate}}

    <p> - Total consumption from CSV </p>
    {{total_consommation}}

</div>